body {
    background: transparent !important;
    background-color: rgba(255, 255, 255, 0) !important;
}

img {
    background-color: rgba(255, 0, 0, 0) !important;
    border: 0px solid #ddd !important;
}
img[alt=logo] {
    width: 300px;
}
img[alt=hero] {
    width: 500px;
}
img[alt=large] {
    width: 700px;
}